{{extend 'layout.html'}}

<h1>Welcome</h1>

<p>The CrowdLab Ranking System supports the ranking and reviews of
submissions sent to <em>venues</em>.</p>
<ul>
  <li> To make a new submission or check on the feedback you received
  for your submissions, use the <em>Submit</em> tab.</li>
  <li> To find your reviewing duties, and review submissions, use the
  <em>Review</em> tab.</li>
  <li> To create and manage venues, use the <em>Manage</em> tab.</li>
</ul>
<p>To access most functions, you need to be logged in.</p>

{{if request.is_local:}}
<br>
{{=response.toolbar()}}
{{pass}}
