{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<h1>Contests</h1>
<p>{{=A('Contests open for submission', _href=URL('contest_subopen_index'))}}</p>
<p>{{=A('Contests open for rating', _href=URL('contest_rateopen_index'))}}</p>
<p>{{=A('Contests to which you submitted', _href=URL('contest_submitted_index'))}}</p>
<p>{{=A('Contests you manage', _href=URL('contest_managed_index'))}}</p>
<h1>User Lists</h1>
<p>{{=A('User lists', _href=URL('user_list_index'))}}</p>
