{{response.files.append(URL(r=request,c='static',f='js/jquery-ui-1.9.2.custom.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='css/jquery-ui-1.9.2.custom.css'))}}
{{extend 'layout.html'}}

<h2>Enter Review for: {{=task.submission_name}}</h2>
<style type="text/css">
    #sortable { margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
</style>

<div class="alert alert-info"><i class="icon-info-sign"></i> Rank this item relative to items that you have previously reviewed by dragging and dropping each item into place. The best item should be first.</div>

<ol id="item_list">
{{for key in current_list:}}
	<li class="ui-state-{{if new_comparison_item == key:}}highlight{{else:}}default{{pass}}" id="item_{{=key}}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span> {{=submissions[key]}}</li>
    {{pass}}

</ol>

{{=form}}

<script>
$(function() {
	$("#item_list").sortable();
	$("#item_list").disableSelection();
	$("form").submit(function() {
		var new_order = $( "#item_list" ).sortable('toArray');
		order_data = [];
		var i = 0;
		var tmp = "";
		for ( var key in new_order ) {
			var val = new_order[key];
			var part = val.split("_");
			if ( i > 0 ) tmp += " ";
			tmp += part[1]; 	
			i++;
		}
		$("[name='order']").val(tmp);
	});
});
</script>

{{if request.is_local:}}
{{if len(response._vars)==1:}}
{{=BEAUTIFY(response._vars.values()[0])}}
{{elif len(response._vars)>1:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
{{=response.toolbar()}}
{{pass}}
